video {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 621px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
  }
  
  .hero-container > h1 {
    color: #1506067d;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Almaden Sans', sans-serif;
  }

  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
    --tw-shadow: 0 2px 11px 0 #b5b3b7;
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {

    /* video {
      object-fit: cover;
      width: 100%;
      height: 80%;
      position: absolute;
      z-index: -1;
    } */

    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 97%;
    }

  }

  @media screen and (max-width: 280px) {
    .hero-container {
      padding-top: 49px;
    }

    video {
      top: -132px;
    }
  }

  @media screen and (max-width: 1300px) {
    video {
      top: -200px;
    }
    @media screen and (orientation:landscape) {
      video {
        top: -13px;
      }
    }
  }

  @media screen and (max-width: 900px) {
    video {
      top: -13px;
    }
    @media screen and (orientation:landscape) {
      video {
        top: -13px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    video {
      top: -207px;
    }
    @media screen and (orientation:landscape) {
      video {
        top: -100px;
      }
    }
  }

  @media screen and (orientation:landscape) and (max-width: 1000px) { 
    .hero-container {
      padding-top: 90px;
    }
  }